<h3>Sửa User</h3>
<a routerLink="/user">Danh sách User</a>
<form action="" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group mt-3">
        <input type="text" name="name" ngModel #name="ngModel" [(ngModel)]="user.name" required placeholder="Nhập Tên"
            class="form-control">
        <div class="text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            Vui lòng nhập tên
        </div>
    </div>
    <div class="form-group mt-3">
        <input type="email" name="email" ngModel #email="ngModel" [(ngModel)]="user.email" required email
            placeholder="Nhập Email" class="form-control">
        <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.['required']">Vui lòng nhập email</div>
            <div *ngIf="email.errors?.['email']">Vui lòng nhập đúng định dạng email</div>
        </div>
    </div>
    <div class="form-group mt-3">
        <input type="text" name="image" ngModel #image="ngModel" [(ngModel)]="user.image" required
            placeholder="Nhập hình ảnh" class="form-control">
        <div class="text-danger" *ngIf="image.invalid && (image.dirty || image.touched)">
            Vui lòng nhập hình ảnh
        </div>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Sửa User</button>
    </div>
</form>