<h3>Danh sách Sản Phẩm</h3>
<a routerLink="/product-add" class="btn btn-primary">Thêm Sản Phẩm</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td><img src="{{p.image}}" width="100px" height="100px"></td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <a routerLink="/product-edit/{{p.id}}" class="btn btn-primary">Edit</a>
                <button (click)="deleteItem(p.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>    