<!-- <h3 class="text-center">{{title}}</h3>
<button class="btn btn-primary" (click)="clickMe()">clickme</button>
<input type="text" [(ngModel)]="title"> -->
<hr>
<h2>bai 2</h2>
<div class="card m-auto fs-2 border-2 col-5 shadow-lg border border-danger ">
  <div class="card-header bg-danger text-white text-center">
    Thông Tin Sinh Viên
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item text-center"> <img src="{{student.hinh}}" width="250px" height="300px"></li>
      <li class="list-group-item">Họ Và Tên: {{student.hoTen}}</li>
      <li class="list-group-item">Ngày Sinh: {{student.ngaySinh}}</li>
      <li class="list-group-item">Điểm: {{student.diem}}</li>
      <li class="list-group-item">Giới Tính: {{student.gioiTinh ==0?"Nam":"Nữ"}}</li>
    </ul>
  </div>
</div>
<!-- <img src="{{image}}" alt="" width="250px" height="300px">
<img [src]="image" alt="" width="250px" height="300px"> -->